*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef2f7;
}

.container{

    width:900px;
    margin:40px auto;

    background:white;

    padding:30px;

    border-radius:12px;

    box-shadow:0 0 20px rgba(0,0,0,.1);
}

h1{
    text-align:center;
    color:#2c3e50;
}

p{
    text-align:center;
    margin:10px 0 30px;
    color:gray;
}

.grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:20px;

}

.input-box{

    display:flex;

    flex-direction:column;

}

label{

    margin-bottom:8px;

    font-weight:bold;

}

input,select{

    padding:12px;

    border-radius:8px;

    border:1px solid #ccc;

    font-size:15px;

}

button{

    margin-top:30px;

    width:100%;

    padding:15px;

    background:#3498db;

    color:white;

    border:none;

    border-radius:8px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#2980b9;

}

.result{

    margin-top:30px;

    background:#dff9fb;

    padding:20px;

    border-radius:10px;

    text-align:center;

}

.result h1{

    color:#27ae60;

    margin-top:10px;

}